<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <title>TV</title>
</head>

<body>

    <div class="header">
        <button class="right btn info" id="logOutBtn">Выход</button>
        <button class="right btn info" id="helpBtn">Помощь</button>
    </div>
    <div class='container'>
        <div class="section-list">
            <button id="section-0" class="btn info">Создать</button>
            <button id="section-1" class="btn info">Альбомы</button>
            <button id="section-2" class="btn info">Объявления</button>
        </div>
    </div>
    <script src="/static/JS/main_page_script.js" type="module"></script>
</body>

</html>