<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <title>TV</title>
</head>

<body>

    <div class="header">
        <button class="right btn info" id="logOutBtn">Выход</button>
        <button class="right btn info" id="helpBtn">Помощь</button>
    </div>
    <div class="container">
        <div class="section-list">
            <button class="btn" id="section-0">Альбомы</button>
            <button class="btn" id="section-1">Объявления</button>
        </div>
    </div>

    <script src="/static/JS/main_page_script.js" type="module"></script>
</body>

</html>