* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
}

.header {
    padding: 1%;
    overflow: hidden;
    background-color: #f1f1f1;
    ;
}

.header>button {
    margin-right: .5%;
    padding: .2% .5%;
    font-size: 16px;
    text-align: center;
}

button {
    cursor: pointer;
}

.right {
    float: right;
}


/* .container {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: .5%;
} */

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10% .5%;
    padding: .5%;
}

.album {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 22px;
    cursor: pointer;
    text-align: center;
}

.section-list {
    display: block;
    margin: 30px 20px;
}

.section-list>button {
    margin-top: .5%;
    display: grid;
}

.btn {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.btn.lg {
    font-size: 24px;
    padding: 12px;
}

.btn.danger:hover {
    background-color: #e30000;
}

.btn.info:hover {
    background-color: #006edb;
    color: white;
}

.btn:hover {
    background-color: #ddd;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 12px;
    z-index: 1;
}

.dropdown>a {
    color: dodgerblue;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown>a.disabled {
    color: black;
    cursor: default;
    text-align: left;
}

.dropdown a:hover {
    background-color: #ddd
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

@media screen and (max-width: 900px) {
    .album-grid {
        grid-gap: .5%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}